{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s6">
        <div class="container">
            <h1>{{truck.name}}</h1>
                <div>{{truck.style}}</div>
                <div>{{truck.user}}</div>
        </div>
    </div>
    <div class="col s6">
        <div class="container">
            <h2>Image upload</h2>
        </div>
    </div>  
    
</div>
<div class="row ">
    <div class="col s6">
        <div class="container">
            <h1 class="center">Menu Items</h1>
            <a href="{%url 'menu_create' truck.id%}">Create Menu Item</a>
            <div class="row">
            {%for item in truck.menu_set.all%}
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-content">
                            <span class="card-title">Menu Items</span>
                            <div class="card-content">
                                <p>{{item.food_name}}</p>
                                <p>{{item.description}}</p>
                                <p>${{item.price}}</p>
                            </div>
                        </div>
                    </div>
                
                </div>
            {%endfor%}
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="container s6">
            <h1>Your Calendar</h1>
            <ul class="collection">
                <li class="collection-header center">Calendar</li>
                {%for calendar in truck.calendar_set.all%}
                <li class="collection-item">{{calendar.date}}</li>
                <li class="collection-item">{{calendar.time}}</li>
                <li class="collection-item">{{calendar.location}}</li>
                {%endfor%}
            </ul>
            <form action="{%url 'add_calendar' truck.id%}" method="post">
                {%csrf_token%}
                {{calendar_form.as_p}}
                <input type="submit" class="btn" value="Add Date">
            </form>
        </div>
    </div>
</div>
<script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    console.log(dateEl)
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    
    var elems = document.getElementById('id_time');
    console.log(elems)
    M.Timepicker.init(elems, {
        defaultTime: 'now',
        autoClose: true
    });

  </script>
{% endblock %}