{% extends 'base.html'%}

{% block content %}
    <div class="container" id="create-truck">
    {%if object%}
        <h1 class="center update-truck">Edit <span class="black-text">{{truck.name}}</span></h1>
    {%else%}
    <h1 class="center create-truck">Register Your Food Truck</h1>
    {%endif%}
    <form action="" method="post">
        {%csrf_token%}
        <table>
            {{form.as_p}}
        </table>
        <input type="submit" value="Submit" class="btn create-truck-btn">
    </form>
    </div>

{% endblock%}