{% extends 'base.html' %}
{% block content %}


<div class="row">

 <!-- Left side bar -->
    <div class="col s3">

        <!-- Row One -->

        <div class="row">
            <h2 class="center truck-detail-h2">{{truck.name}}</h2>
            <h6 class="center">Owner:{{truck.user.first_name}} {{truck.user.last_name}}</h6>
        </div>

        <!--Row 2  -->

        <div class="row">    
            <div class="container">
                {% for photo in truck.truckphoto_set.all %}
                    <img class="truck-profile" src="{{photo.url}}">
                {% empty %}
                    <div>No Photos Uploaded</div>
                {% endfor %}
                {% if truck.truckphoto_set.all|length == 0%}
                    <form action="{% url 'truck_photo' truck.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="photo-file">
                        <br><br>
                        <input type="submit" class="btn" value="Upload Photo">
                    </form>
                {% else%}
                    <form action="{% url 'delete_truck_photo' truck.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Delete Photo">
                    </form> 
                {% endif %}
                <a href="{%url 'truck_update' truck.pk%}">Edit Truck Profile</a>
                <br>
                <a href="{% url 'truck_delete' truck.pk %}">Delete Truck</a>
            </div>
        </div>
       
        <!-- Row 3 -->
        <div class="row">
            <div class="container">
                <h5 class="view-review-h3"><span class="yellow-text"> My Overall <br>Review</span>: {{avg}}</h5>
                <a href="{%url 'truck_reviews' truck.id%}">My Reviews</a>
            </div>  
        </div>
    </div>


<!-- Right Side Bar -->
    <div class="col s9">

      <!-- Calendar container and informations -->
        <div class="row">
            <div class="container">
                <div class="col s6">
                    <div class="container add-calendar">
                        <h3 class="center calendar-h1">New Calendar Date</h3>
                        <form action="{%url 'add_calendar' truck.id%}" method="post" style="color: black;">
                            {%csrf_token%}
                            {{calendar_form.as_p}}
                            <input type="submit" class="btn calendar-btn" value="Add Date">
                        </form>
                    </div>
                </div>                
                <div class="col s6">
                    <h1 class="calendar-h1">Your Calendar</h1>
                    <hr>
                    {%if truck.calendar_set.count%}
                        {%for calendar in truck.calendar_set.all%}
                            {%if calendar.date_checker%}

                            {%else%}
                            <div class="container col s6" >
                                <ul class="left calendar-ul">
                                    <li id="calendar-holder"><span class="black-text">Date</span>: {{calendar.date}}</li>
                                    <li id="calendar-holder"><span class="black-text">Start Time</span>: {{calendar.start_time}}</li>  
                                    <li id="calendar-holder"><span class="black-text">End Time</span>: {{calendar.end_time}}</li>
                                    <li id="calendar-holder">{{calendar.location}}</li>
                                    <li class="center" id="calendar-holder"><form action="{% url 'delete_calendar' truck.id calendar.id %}" method="post">
                                        {% csrf_token %}
                                    <button type="submit" class="btn center">Remove</button>
                                    </form></li>
                                </ul>
                            </div>
                            {%endif%}
                        {%endfor%}
                    {%else%}
                        <h1>You have no upcoming dates</h1>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Menu Items! -->
<div class="row ">
    <div class="container">
        <h1 class="center menu-h1">Menu Items</h1><hr>
        <a href="{%url 'menu_create' truck.id%}">Create Menu Item</a>
        <div class="row">
        {%for item in truck.menu_set.all%}
            <div class="col s12 m6 l4">
                <div class="card" id="menu-card">
                    <div class="card-content"> 
                        <form action="{% url 'delete_item' truck.id item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn right">Remove</button>
                        </form>
                        <a class="right" href="{%url 'menu_update'  truck.id item.id%}">Update Item</a>
                        <p><span class="card-title">{{item.food_name}}</span></p>
                        <hr>
                        <p>{{item.description}}</p>
                        <p>${{item.price}}</p>
                    </div>    
                </div>
            </div>
        {%endfor%}
        </div>
    </div>
</div>
    




<!-- Scrpit for date and timepicker -->
<script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    console.log(dateEl)
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    
    var start = document.getElementById('id_start_time');
    M.Timepicker.init(start, {
        defaultTime: 'now',
        autoClose: true
    });
    var end = document.getElementById('id_end_time');
    M.Timepicker.init(end, {
        defaultTime: 'now',
        autoClose: true
    });
  </script>
{% endblock %}