{%extends 'base.html'%}

{%block content%}
    
<div class="container">
  <div class="row">
    <div class="col s12">
    <h1 class="center truck-review-h1">Reviews for <span class="red-text">{{truck.name}}</span></h1>
      {%for review in reviews.all%}
    
      <ul class="collection col s12 m8 push-m2" id="review-ul">
          <li class="collection-item avatar">
          {%for photo in review.user.profilephoto_set.all%}
            <img src="{{photo.url}}" alt="" class="circle">
          {%endfor%}
            <p><span class="title">User:</span> {{review.user}}  
            <span class="title">Rating:</span> {{review.rating}}</<span> 
            <p><span class="title"> Date:</span> {{review.created_date}}</p>

            <p>{{review.text}}</p>
            </Rating:>
          </li>
      </ul>
      {%endfor%}
    </div>
  </div>    
</div>
{%endblock%}