{% extends 'base.html' %}
{% block content %}

<div class='container center '>
    <h1 class="home-h1">Welcome To <br>
         Dude! Where's My Food?</h1>

    <div class="container intro">
        <p>D!WMF? is a one stop place for your local food truck needs! As a user you can look for your favorite food truck, see what they have to offer, and see where they will be next! As a food truck owner you will be able to set up your truck, tell us where you will be, what you are offering, and see what your guests have to say about you!</p>
    </div>
</div>
{% endblock %}