.logo {
    background-color: maroon;
}

.profile {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.right-div {
    float: right;
}

.review {
    margin: 20px 0px 20px 20px;
}

.reviews {
    border: 2px solid black;
    padding-bottom: 10px;
    width: 49vw;
    height: 400px;
}

.review_form {
    border: 2px solid black;
    width: 49vw;
    height: 200px;
}
