*{
    font-family: 'Lobster',cursive, Arial, Helvetica,sans-serif;
}
.logo {
    background-color: maroon;
    height: 5vh;
}

body{
    background-image: url('../images/main_food_truck.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}
.head-nav{
    background-color: rgb(224, 224, 137);
    border-bottom: 5px solid black;
   
}
nav a{

    color:black;
}
nav ul a{

    color:black;
}
.nav-wrapper a:hover{
    background-color:rbga(255,255,255,0.2);
    color:white;
}
.banner{
    font-size: 2rem;

}
label{
    color: white;
}
.profile {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
.truck-profile {
    border-radius: 20%;
    height: 250px;
    width: 30vw;
}

/* Profile page */
#right-div {
    float: right;
    padding-left: 40px;
    margin-right: 10px;
}

#profile-info {
    text-align: left;
    width: fit-content;
    padding: 5px;
}

#profile-container {
    margin-left: 10px;
    width: 100vw;
    max-width: none;
}

#profile-container h1 {
    text-shadow: 3px 3px black;
    text-decoration: underline;
}

#profile-container a {
    color: white;
    text-decoration: underline;
    font-size: medium;
}

#edit-info:hover {
    color:yellow;
}

#profile-form {
    text-align: center;
    margin-bottom: 5px;
}

#assoc-button {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 15px;
}

#fav-h3 {
    text-align: center;
    text-shadow: 3px 3px black;
    text-decoration: underline;
    font-size: 50px;
}

#sub-btn {
    width: -webkit-fill-available;
}

#fav-trucks {
    padding: 0px 30vw;
    width: -webkit-fill-available;
}

#user-info {
    color: white;
}

/* Edit page */
#edit-page{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
}

#edit-btn{
    margin-bottom: 5px;
}

#h6 {
    text-align: center;
}


.review {
    margin: 20px 0px 20px 20px;
}

.reviews {
    border: 2px solid black;
    padding-bottom: 10px;
    height: 400px;
    margin: 40px 5px 0px 5px;
    background-color: white;
    color: black;
}

.review_form {
    border: 2px solid black;
    width: 49vw;
    height: 225px;
}
/* Home page */
.intro{
    border: 2px black solid;
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    padding: 0 2px;
}
.intro p{
    font-size: x-large;
    font-family: Helvetica,Arial,  sans-serif;
}
.home-h1{
    text-shadow: 3px 3px black;
}
/* Signup page */
#signup{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
}
.signup-h1{
    text-shadow: 3px 3px black;
}
.signup-btn{
    margin-bottom: 5px;
}

/* Login page */
#login{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
#login form p input{
    border: inset;

}
.login-btn{
    margin-bottom: 5px;
}
.login-h1{
    text-shadow: 3px 3px black;
}

/* Index Page */
.index-h1{
    text-shadow: 3px 3px black;
}
#index-image{
    float: right;
    position: relative;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0;
}
.index-card{
    border-radius: 8%;
    background-color: rgba(128,128,128,0.6);
    border: darkgray 1px solid;
    
}
.index-card a{
    color: white;
}
.index-card:hover{
    color: blue;
    border: darkgray 3px solid;
}
.index-card a:hover{
    color: black;
}
.index-card p{
    padding: 2px;
    font-size: medium;
    
}

/* Update Menu Page */
.update-menu-h1{
    text-shadow: 3px 3px black;
}

#update-menu{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
.update-menu-btn{
    margin-bottom: 5px;
}

/* Create Menu Page */
#create-menu{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
.create-menu-h1{
    text-shadow: 3px 3px black;
}

.create-menu-btn{
    margin-bottom: 5px;
}

/* Create/Update Truck Page */
#create-truck{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
.create-truck-h1{
    text-shadow: 3px 3px black;
}
.update-truck-h1{
    text-shadow: 3px 3px black;
}
.create-truck-btn{
    margin-bottom: 5px;
}

/* Delete Truck Page */

#delete-truck{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
.delete-truck-h1{
    text-shadow: 3px 3px black;
}
.delete-truck-btn{
    margin-bottom: 5px;
}
#delete-truck a{
    color: white;
}
#delete-truck a:hover{
    color: red;
}

/* Truck Review Page */

.truck-review-h1{
    text-shadow: 3px 3px black;
}
#review-ul li p{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
#review-ul li span{
    color: black;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
}
#review-ul{
    padding: 0;
    margin: 4px 4px;
    word-wrap: break-word;
    overflow: auto;
    border-radius: 2%;
}
#review-ul li{
    background-color: rgba(128,128,128,.9);
}
#review-ul li img{
    height: 55px;
    width: 55px;
}

/* Truck Detail Page */


.truck-profile {
    border-radius: 20%;
    height: 10vw;
    width: 20vw;
    border: 1px black solid;
}
.truck-detail-h2{
    text-shadow: 3px 3px black;
}
.view-review-h3{
    text-shadow: 3px 3px black; 
    word-wrap: normal;
}
.calendar-h1{
    text-shadow: 3px 3px black;
    margin: 35px;
}

.add-calendar{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px;
}
#calendar-holder{
    color: white;
    background-color: rgba(128,128,128,0.8);

    padding: 0 8px;  
}
.calendar-ul{
    outline-style: ridge;
    outline-color: white;
}
.menu-h1{
    text-shadow: 3px 3px black; 
}
#menu-card{
    color: white;
    background-color: rgba(128,128,128,0.8);
    outline-style: ridge;
    outline-color: white;
    padding: 0 8px; 
}
.row a{
    color: white;
}
.row a:hover{
    color: blue;
}
li{
    color: black;
}

#tk-detail {
    padding-top: 10vw;
    padding-left: 5vw;
}

#menu-item {
    color: black;
}

#food-title {
    text-decoration: underline;
}

#calender-info {
    width: 30vw;
}

#tk-detail p {
    color: black;
}
