{%extends 'base.html'%}

{%block content%}
<h1>Hello Truck</h1>
<div>{{truck.name}}</div>
<div>{{truck.style}}</div>
<div>{{truck.user}}</div>

<div class="col s6">
    <form method="post" action="{% url 'add_review' truck.id %}">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
    </form>   
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Review</th></tr>
      </thead>
      <tbody>
          {% for review in truck.reviews.all %}
          <tr>
            <td>{{review.created_date}}</td>
            <td>{{review.text}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{%endblock%}