{%extends 'base.html'%}
{%block content%}

<div class="container" id="profile-container">
  <div id="right-div">
    {% for photo in user.profilephoto_set.all %}
    <img class="profile" src="{{photo.url}}">
    {% empty %}
    <div>No Photos Uploaded</div>
    {% endfor %}
    {% if user.profilephoto_set.all|length == 0%}
    <form action="{% url 'profile_photo' user.id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
    {% else%}
    <form action="{% url 'delete_photo' user.id %}" method="POST" style="text-align: center;">
      {% csrf_token %}
      <input type="submit" value="Delete Photo" class="btn">
    </form>
    {% endif %}
  </div>
  <div id="profile-info">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>Username: {{ user.username}}</p>
    <p>Email: {{ user.email }}</p>
    <p><a href="{% url 'edit_user' %}" id="edit-info">Edit {{user.first_name}}'s Information</a></p>
  </div>
  <!-- <p>Bio: {{ user.bio }}</p> -->
</div>

<br><br><br><br><br><br>
 
    <div class="row">
      <h3 id="fav-h3">{{ user.first_name }}'s Favorite Trucks</h3>
      <a class='dropdown-trigger btn' href='#' data-target='dropdown1' id="assoc-button">Available Food Trucks</a>
      <div class="col s12 m6">
        {% if user.profile.trucks.count %}
        {% for tk in user.profile.trucks.all %}
        <div class="card index-card">
          <a href="{%url 'index_detail' tk.id%}">
            <div class="card-content row">
              <div class="col s6">
              <span class="card-title">{{ tk.name }}</span>
              <p>Style: {{ tk.style }}</p>
              <p>Comments: {{ tk.review.avg}}<p>
              </div>
                {%for photo in tk.truckphoto_set.all%}
                  <img src="{{photo.url}}" alt="" class="col s6" id="index-image">
                {%endfor%}
            </div>
          </a> 
          <form action="{% url 'unassoc_truck' user.id tk.id %}" method="post" id="profile-form">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
        {% endfor %}
        {% else %}
        <h5>No Trucks :(</h5>
        {% endif %}
      </div>
    </div>

  
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    {% for truck in trucks_user_doesnt_favorite %}
    <form method="post" action="{% url 'assoc_truck' user.id truck.id %}">
      {% csrf_token %}
    <button type="submit" id="sub-btn"><li>{{truck.name}}: {{truck.style}}</li></button>
    </form>
    {% endfor %}
  </ul>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var options = 1
    var instances = M.Dropdown.init(elems, options);
  });
</script>



{%endblock%}